.footer-image {
    width: 60px; /* set the width of the image */
    height: 40px; /* set the height of the image */
}
.article {
    width: 70vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.article-image {
    width: 100%;
    object-fit: cover;
    z-index: 0;
}
.article-info {
    /* white text */
    color: white;
    /* font size */
    font-size: 20px;
    /* font weight */
    font-weight: bold;
    /* line height */
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}
/* Add a media query for mobile devices and apply the desired styles */
@media (max-width: 767px) {
    .footer-image.logo-image {
        width: 50px; /* Adjust the width as needed for mobile */
        height: auto; /* Maintain aspect ratio */
    }
}
